@import "tailwindcss";


html {
  scroll-behavior: smooth;
}


button, .btn {
  transition: all 0.3s ease-in-out;
}

button:hover, .btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2);
}